@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #0000;
  transition: 1s;
}
