@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"]::file-selector-button {
  border: 2px solid #460a98;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #ffffff;
  color: #460a98;
  transition: 1s;
}
